<h2>User Folders</h2>
<div><a href="<%= ENV['SUB_DIR'] %>/user-folders/new">Add New User Folder</a></div>
<ul>
  <% @directories.each do |directory| %>
    <li><a href="<%= ENV['SUB_DIR'] %>/user-folders/<%= directory.basename %>"><%= directory.basename %></a></li>
  <% end %>
</ul>
