<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css", href="/style/style.css">
    <script src="/style/w3data.js"></script>
  </head>
  <body>
    <h1>MediaShare</h1>
    <div w3-include-html="/style/header.html"></div>
    <%= yield %>
  </body>
  <script>
    w3IncludeHTML();
  </script>
</html>
