<h1>Add New User Folder</h1>

<form method="POST" action="<%= ENV['SUB_DIR'] %>/user-folders">
  <label>Folder name:</label>
  <input type="text", name="folder_name">
  <input type="submit" value="Create Folder">
</form>
