<div class="content">
  <div class="form">
    <h2>Add New Project Folder</h2>

    <form method="POST" action="<%= ENV['SUB_DIR'] %>/project-folders">
      <label>Folder name:</label>
      <input type="text", name="folder_name">
      <div class="button">
        <input type="submit" value="Create Folder">
      </div>
    </form>
  </div>
</div>
